{{- $style := resources.Get "almanac.css" | resources.ExecuteAsTemplate "almanac.css" . | resources.Minify -}}
{{- $stylefp := $style | resources.Fingerprint -}}
{{- $triggerOutputForThirdPartySites := $style.RelPermalink -}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.75">
  <title>{{ $.Title }} - {{ $.Site.Title }}</title>
  <link rel="preload" href="/fonts/noto-sans-v12-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/noto-sans-v12-latin-700.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{{ $stylefp.RelPermalink }}" integrity="{{ $stylefp.Data.Integrity }}">
  <link rel="shortcut icon" type="image/png" href="{{ "img/duke64.png" | relURL }}">
  <link rel="canonical" href="{{ .Permalink }}">
  {{ with .Params.description -}}
  <meta name="description" content="{{ . }}">
  {{- end }}
</head>
<body>
<div class="header-bar">
<div class="header">
  <img src="{{ "img/duke.svg" | relURL }}" title="Duke" width=52 height="56" style="float:left;margin-right:8px">
  <a href="https://github.com/marchof/java-almanac"><img src="{{ "img/github.svg" | relURL }}" title="Java Almanac on GitHub.com" height="14" style="float:right;margin-top:4px;margin-bottom:10px;"></a>
  {{- partial "findbox.html" . }}
  <span style="font-size:11pt;color:#888;font-weight:bold">The Java Version Almanac</span><br>
  <span><a style="font-size:19pt;text-decoration:none;color:#000;font-weight:bold" href="{{ $.Site.BaseURL }}">{{ $.Site.Title }}</a></span>
</div>
</div>
<div class="content" id="content">
{{- partial "feedback.html" . }}
{{- partial "breadcrump.html" . }}