{{- $style := resources.Get "almanac.css" | resources.Minify -}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{ $.Title }} - {{ $.Site.Title }}</title>
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body>
<div class="header-bar">
<div class="header">
  <a href="https://github.com/marchof/java-almanac"><img src="{{ "img/github.png" | relURL }}" title="Java Almanac on GitHub.com" width="32" height="32" align="right"></a>
  <span style="font-size:11pt;color:#888;font-weight:bold">The Java Version Almanac</span><br>
  <span><a style="font-size:19pt;text-decoration:none;color:#000;font-weight:bold" href="{{ $.Site.BaseURL }}">{{ $.Site.Title }}</a></span>
</div>
</div>
<div class="content" id="content">
{{- partial "feedback.html" . }}
{{- partial "breadcrump.html" . }}