{{ $style := resources.Get "almanac.css" | resources.Minify }}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ $.Title }} - {{ $.Site.Title }}</title>
  <link rel="icon" type="image/png" href="/favicon32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon96.png" sizes="96x96">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body>
<div class="header-bar">
<div class="header">
  <a href="{{ $.Site.BaseURL }}"><img src="{{ "img/java.png" | relURL }}" title="Java" height="55" align="left"></a>
  <a href="https://github.com/marchof/java-almanac"><img src="{{ "img/github.png" | relURL }}" title="Java Almanac on GitHub.com" width="32" height="32" align="right"></a>
  <span style="font-size:11pt;color:#888;font-weight:bold;margin-left:10px">The Java Version Almanac</span><br>
  <span><a style="font-size:19pt;text-decoration:none;color:#000;font-weight:bold;margin-left:10px" href="{{ $.Site.BaseURL }}">{{ $.Site.Title }}</a></span>
</div>
</div>
<div class="content" id="content">
{{- partial "feedback.html" . }}
{{- partial "breadcrump.html" . }}
