{{- if or ( .Page.Store.Get "hasSandbox" ) ( .Page.Params.sandbox ) }}
{{- $vue := resources.Get "app/vue.min.js" }}
{{- $tabs := resources.Get "app/tabs.js" | resources.Minify }}
{{- $sandbox := resources.Get "app/sandbox.js" | resources.ExecuteAsTemplate "sandbox.js" . | resources.Minify }}
{{- $ace := resources.Get "app/ace/ace.js" }}
{{- $ace_java := resources.Get "app/ace/mode-java.js" }}
{{- $ace_theme := resources.Get "app/ace/theme-almanac.js" }}
{{- $js := slice $vue $tabs $sandbox $ace $ace_java $ace_theme | resources.Concat "app/sandbox-bundle.js" }}
{{- $triggerOutputForThirdPartySites := $js.RelPermalink }}
{{- $jsfp := $js | resources.Fingerprint }}
<script src="{{ $jsfp.RelPermalink }}" integrity="{{ $jsfp.Data.Integrity }}"></script>
<script>new Vue({ el: '#content' })</script>
{{- end }}