body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 11pt;
	background-color: #fff;
	color: #000;
	margin: 0px;
}

div.header-bar {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}

div.header {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
}

div.content div.feedback {
	float: right;
	font-size: 9pt;
}

div.content div.feedback a, a:visited {
	color: #999;
}

ul.breadcrump {
	list-style: none;
	display: flex;
	margin: 0px;
	padding: 0px;
	color: #999;
	font-size: 9pt;
}
ul.breadcrump li {
	margin-right: 6px;
}
ul.breadcrump li a {
	color: #999;
}
ul.breadcrump li::after {
	margin-left: 4px;
	content: "/";
}

div.copyright {
	color: #999;
	font-style:italic;
	margin-top: -10px;
}

div.content {
	max-width: 800px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	color: #666;
}

div.content p {
	text-align: justify;
}

div.content h1 {
	font-weight: bold;
	font-size: 200%;
	color: #589;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
}

div.content h2 {
	font-weight: bold;
	font-size: 150%;
	color: #589;
	margin-top: 30px;
	border-bottom: 1px solid #ccc;
}

div.content h3 {
	font-weight: bold;
	font-size: 125%;
	color: #666;
}

div.content h4 {
	font-weight: bold;
	font-size: 100%;
	color: #666;
}

div.content a, a:visited {
	font-weight: bold;
	color: #589;
	text-decoration: none;
}

div.content a:hover {
	text-decoration: underline;
}

div.content a.diffversion {
	display: inline-block;
	width:25px;
	text-align:right;
}

div.content table {
	border-collapse: collapse;
	border-top: 1px solid #589;
	border-bottom: 1px solid #589;
	font-size: 11pt;
	color: #666;
}

div.content table thead {
	background-color: #eee;
	border-bottom: 1px solid #589;
}

div.content th {
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

div.content td {
	padding-left: 10px;
	padding-right: 10px;
}

div.content table tr:nth-child(even) {
	background-color: #eee;
}

div.content pre {
	font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", "monospace";
	background-color: #eee;
	padding-left: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.content code {
	font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", "monospace";
}

ul.tag {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tag li {
	float:left;
	white-space: nowrap;
	margin: 1px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
	font-size: 90%;
}

ul.tag li a {
	color: inherit;
	font-weight: inherit;
}

ul.architecture li {
	background-color: #69a;
	color: #eee;
}

span.tag {
	white-space: nowrap;
	margin: 1px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
	font-size: 90%;
}

span.feature {
	background-color: #bbb;
	color: #fff;
}

span.status-DEV {
	display: inline-block;
	width: 20pt;
	text-align: center;
	background-color: #bbb;
	color: #fff;
}

span.status-REL {
	display: inline-block;
	width: 20pt;
	text-align: center;
	background-color: #888;
	color: #eee;
}

span.status-LTS {
	display: inline-block;
	width: 20pt;
	text-align: center;
	background-color: #383;
	color: #cfc;
}

span.status-EOL {
	display: inline-block;
	width: 20pt;
	text-align: center;
	background-color: #833;	
	color: #fcc;
}


div.content div.datasource {
	font-size: 70%;
	margin-bottom: 10px;
}

div.content div.datasource a {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #589;
	color: #eee;
	font-weight: bold;
}

div.footer {
	clear: both;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #ccc;
	padding-top: 2px;
	padding-bottom: 8px;
	color: #999;
	font-size: 9pt;
}

div.footer a {
	color: #999;
}

div.footer a:hover {
	text-decoration: none;
}

.annotation {
	padding-left:18px;
	background-image:url("img/annotation.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.class {
	padding-left:18px;
	background-image:url("img/class.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.enum {
	padding-left:18px;
	background-image:url("img/enum.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.field {
	padding-left:18px;
	background-image:url("img/field.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.interface {
	padding-left:18px;
	background-image:url("img/interface.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.method {
	padding-left:18px;
	background-image:url("img/method.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.package {
	padding-left:18px;
	background-image:url("img/package.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.module {
	padding-left:18px;
	background-image:url("img/module.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.removed {
	text-decoration:line-through;
}

ul.tag li.newelement {
	color: #ded;
	background-color: #080;
}

ul.tag li.removedelement {
	color: #edd;
	background-color: #c00;
}

ul.tag li.newtag {
	color: #eee;
	background-color: #666;
}

ul.tag li.removedtag {
	color: #eee;
	background-color: #666;
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }
div.tabs {
	position: relative;
	background-color: #eee;
	padding-top: 3px;
	padding-left: 6px;
	padding-right: 6px;
}
div.tabs span.infotext {
	position: absolute;
	right: 4px;
	bottom: 0px;
	color: #999;
	font-size: 9pt;
	cursor: help;
}
div.tabs ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
	padding: 0px;
}
div.tabs ul li {
	background-color: #ccc;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
}
div.tabs ul li.active {
	background-color: #589;
}
div.tabs ul li.active a {
	color: #fff;
}
div.tabs-content {
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	background-color: #eee;
}
div.tabs-frame {
	border: #589 1px solid;
	background-color: #fff;
}
div.sandbox-console {
	white-space: pre;
	font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", "monospace";
	font-size: 12px;
	color: #eee;
	background-color: #333;
	margin: 0px;
	padding: 4px;
	overflow-y: scroll;
	height:150px;
}