body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 11pt;
	background-color: #fff;
	color: #000;
	margin: 0px;
}

div.header-bar {
	background-color: #eee;
	border-bottom: 1px solid #ccc;
}

div.header {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
}

div.content {
	max-width: 800px;
	min-height: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 8px;
	color: #666;
}

div.content p {
	text-align: justify;
}

div.content h1 {
	font-weight: bold;
	font-size: 200%;
	color: #589;
	border-bottom: 1px solid #cccc;
}

div.content h2 {
	font-weight: bold;
	font-size: 150%;
	color: #589;
	margin-top: 40px;
	border-bottom: 1px solid #cccc;
}

div.content h3 {
	font-weight: bold;
	font-size: 125%;
	color: #666;
}

div.content h4 {
	font-weight: bold;
	font-size: 100%;
	color: #666;
}

div.content a, a:visited {
	font-weight: bold;
	color: #589;
	text-decoration: none;
}

div.content a:hover {
	text-decoration: underline;
}

div.content table {
	border-collapse: collapse;
	border-top: 1px solid #589;
	border-bottom: 1px solid #589;
	font-size: 11pt;
	color: #666;
}

div.content table thead {
	background-color: #eee;
	border-bottom: 1px solid #589;
}

div.content th {
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

div.content td {
	padding-left: 10px;
	padding-right: 10px;
}

div.content table tr:nth-child(even) {
	background-color: #eee;
}

ul.tag {
	padding: 0px;
	list-style: none;
}

ul.tag li {
	float:left;
	white-space: nowrap;
	margin: 1px;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
	font-size: 90%;
}

ul.tag li a {
	color: inherit;
	font-weight: inherit;
}

ul.architecture li {
	background-color: #69a;
	color: #eee;
}

div.content a.datasource {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #589;
	color: #fff;
	font-weight: bold;
	font-size: 70%;
}

div.footer {
	clear: both;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #ccc;
	padding-top: 2px;
	padding-bottom: 8px;
	color: #aaa;
	font-size: 9pt;
}

div.footer a {
	color: #aaa;
}

div.footer a:hover {
	text-decoration: none;
}

.annotation {
	padding-left:18px;
	background-image:url("img/annotation.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.class {
	padding-left:18px;
	background-image:url("img/class.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.enum {
	padding-left:18px;
	background-image:url("img/enum.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.field {
	padding-left:18px;
	background-image:url("img/field.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.interface {
	padding-left:18px;
	background-image:url("img/interface.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.method {
	padding-left:18px;
	background-image:url("img/method.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.package {
	padding-left:18px;
	background-image:url("img/package.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.module {
	padding-left:18px;
	background-image:url("img/module.png");
	background-position:left center;
	background-repeat:no-repeat;
}

.removed {
	text-decoration:line-through;
}

ul.tag li.newelement {
	color: #ded;
	background-color: #080;
}

ul.tag li.removedelement {
	color: #edd;
	background-color: #c00;
}

ul.tag li.newtag {
	color: #eee;
	background-color: #666;
}

ul.tag li.removedtag {
	color: #eee;
	background-color: #666;
}
