body {
  font-family:sans-serif;
  font-size:10pt;
  color:#a0a0a0;
}

h1 {
  font-size:20pt;
}

table {
  border-collapse:collapse;
  border-top:1px #cccccc solid;
}

td {
  white-space:nowrap;
  font-size:10pt;
  color:#000000;
  padding:2px 2px 2px 2px;
  border-bottom:1px #cccccc solid;
  vertical-align:middle;
}

.annotation {
  padding-left:18px;
  background-image:url(annotation.png);
  background-position:left center;
  background-repeat:no-repeat;
}

.class {
  padding-left:18px;
  background-image:url(class.png);
  background-position:left center;
  background-repeat:no-repeat;
}

.enum {
  padding-left:18px;
  background-image:url(enum.png);
  background-position:left center;
  background-repeat:no-repeat;
}

.field {
  padding-left:18px;
  background-image:url(field.png);
  background-position:left center;
  background-repeat:no-repeat;
}

.interface {
  padding-left:18px;
  background-image:url(interface.png);
  background-position:left center;
  background-repeat:no-repeat;
}

.method {
  padding-left:18px;
  background-image:url(method.png);
  background-position:left center;
  background-repeat:no-repeat;
}

.package {
  padding-left:18px;
  background-image:url(package.png);
  background-position:left center;
  background-repeat:no-repeat;
}

.notmodified {
  color:#666666;
}

span.added {
  color: #ffffff;
  background-color: #009900;
  padding: 1px 4px 1px 4px;
  border-radius: 3px;
}

span.removed {
  color: #ffffff;
  background-color: #cc0000;
  padding: 1px 4px 1px 4px;
  border-radius: 3px;
}

span.tagadd {
  color: #000000;
  background-color: #cccccc;
  padding: 1px 4px 1px 4px;
  border-radius: 3px;
  margin-right: 2px;
}

span.tagremove {
  color: #000000;
  background-color: #cccccc;
  padding: 1px 4px 1px 4px;
  border-radius: 3px;
  margin-right: 2px;
}