<table>
  <thead>
    <tr>
      <th>Mnemonic</th>
      <th>Opcode</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{- range sort $.Site.Data.bytecode.opcodes "mnemonic" }}
    <tr>
      <td><a href="../op/{{ .mnemonic }}"><code>{{ .mnemonic }}</code></a></td>
      <td>{{ .opcode }}</td>
      <td>{{ markdownify .shortdescr }}</td>
    </tr>
    {{- end }}
  </tbody>
</table>

<div class="datasource">
  <a href="{{ $.Site.Params.Sourcebase }}data/bytecode/opcodes.json">Data Source</a>
</div>