<table style="width:100%;">
  <thead>
    <tr>
      <th>Details</th>
      <th>Status</th>
      <th>Documentation</th>
      <th>Compare APIs with</th>
    </tr>
  </thead>
  <tbody>
    {{- range sort $.Site.Data.jdk.versions "ga" "desc" }}
    <tr>
      <td><a href="jdk/{{ .version }}">{{ .name }}</a></td>
      <td>{{ with .status }}<span class="tag status-{{ . }}" title="{{ index $.Site.Data.jdk.status . }}" style="cursor: help">{{ . }}</span>{{ end }}</td>
      <td>
        {{- with .documentation.api }}
          <a href="{{ . }}">API</a>
        {{- end }}
        {{- with .documentation.lang -}}
          | <a href="{{ . }}">Lang</a>
        {{- end }}
        {{- with .documentation.vm -}}
          | <a href="{{ . }}">VM</a>
        {{- end }}
        {{- with .documentation.notes -}}
          | <a href="{{ . }}">Notes</a>
        {{- end }}
      </td>
      <td style="text-align:right;">
        {{- if .apidiff }}
          {{- range $elem_index, $elem_val := (sort .apidiff "order" "desc") }}
            {{- if lt 0 $elem_index }}| {{ end -}}
            <a href="jdk/{{ $elem_val.target.feature }}/apidiff/{{ $elem_val.base.feature }}">{{ $elem_val.base.feature }}</a>
          {{- end }}
        {{- end }}
      </td>
    </tr>
    {{- end }}
  </tbody>
</table>

<div class="datasource">
  <a href="{{ $.Site.Params.Sourcebase }}data/jdk/versions/">Data Source</a>
</div>
