<table style="width:100%;white-space:nowrap;">
  <thead>
    <tr>
      <th>Details</th>
      <th>Status</th>
      <th>Documentation</th>
      <th>Download</th>
      <th style="width:20%">Compare API to</th>
    </tr>
  </thead>
  <tbody>
    {{- range sort $.Site.Data.jdk.versions "ga" "desc" }}
    <tr>
      <td><a href="jdk/{{ .version }}">{{ .name }}</a></td>
      <td>{{ with .status }}<span class="tag status-{{ . }}" title="{{ index $.Site.Data.jdk.status . }}" style="cursor: help">{{ . }}</span>{{ end }}</td>
      <td>
        {{- with .documentation.api }}
          <a href="{{ . }}">API</a>
        {{- end }}
        {{- with .documentation.lang -}}
          | <a href="{{ . }}">Lang</a>
        {{- end }}
        {{- with .documentation.vm -}}
          | <a href="{{ . }}">VM</a>
        {{- end }}
        {{- with .documentation.notes -}}
          | <a href="{{ . }}">Notes</a>
        {{- end }}
      </td>
      <td>
        {{- $version := .version }}
        {{- $scratch := newScratch }}
        {{- $scratch.Set "download" false }}
        {{- range $.Page.Site.Data.jdk.vendors }}
          {{- range .products }}
            {{- if and .foojaydownload (in .versions $version) }}
              {{- $scratch.Set "download" true }}
            {{- end }}
          {{- end }}
        {{- end }}
        {{- if $scratch.Get "download" }}
          <a href="jdk/download/#version={{ .version }}&amp;type=jdk">JDK</a>|
          <a href="jdk/download/#version={{ .version }}&amp;type=jre">JRE</a>
        {{- end }}
      </td>
      <td>
        {{- $maxdiffs := 10 }}
        {{- if .apidiff }}
          {{- range $elem_index, $elem_val := first $maxdiffs (sort .apidiff "order" "desc") }}
            <a class="diffversion" href="jdk/{{ $elem_val.target.feature }}/apidiff/{{ $elem_val.base.feature }}">{{ $elem_val.base.feature }}</a>
          {{- end }}
          {{- if lt $maxdiffs (len .apidiff) }}
            <a class="diffversion" href="jdk/{{ .version }}">...</a>
          {{- end }}
        {{- end }}
      </td>
    </tr>
    {{- end }}
  </tbody>
</table>

<div class="datasource">
  <a href="{{ $.Site.Params.Sourcebase }}data/jdk/versions/">Data Source</a>
</div>
