{{ range $.Site.Data.jdk.versions }}
  {{ range $_, $diff := .apidiff }}
    {{ $.AddPage ( dict "path"   ( printf "%s/apidiff/%s" $diff.target.feature $diff.base.feature ) 
                        "title"  ( printf "New APIs in Java %s" $diff.target.feature )
                        "type"   "apidiff"
                        "params" ( dict "targetversion" $diff.target.feature
                                        "baseversion"   $diff.base.feature ) ) }}
  {{ end }}
{{ end }}
