<div style="overflow-x:auto;">
<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Status</th>
      <th>Bytecode</th>
      <th>Release</th>
      <th>EOL</th>
      <th>Latest Version</th>
    </tr>
  </thead>
  <tbody>
    {{- range sort $.Site.Data.jdk.versions "ga" "desc" }}
    <tr>
      <td><a href="{{ .version }}/">{{ .name }}</a></td>
      <td>{{ with .status }}<span class="tag status-{{ . }}" title="{{ index $.Site.Data.jdk.status . }}" style="cursor: help">{{ . }}</span>{{ end }}</td>
      <td>{{ .bytecode }}</td>
      <td>{{ .ga }}</td>
      <td>{{ .eol }}</td>
      <td>{{ .latestversion }}</td>
    </tr>
    {{- end }}
  </tbody>
</table>

<div class="datasource">
  <a href="{{ $.Site.Params.Dataapibase }}jdk/versions">Data Source</a>
</div>
</div>