name: Publish

on:
  push:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  publish-web:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup HUGO
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: '0.156.0'
    - name: Render
      working-directory: '.hugo'
      run: hugo
    - name: Check Links
      working-directory: '.hugo'
      run: python linkchecker.py public /
    - name: Configure AWS Credentials
      if: ${{ github.ref == 'refs/heads/master' }}
      uses: aws-actions/configure-aws-credentials@v4.1.0
      with:
        role-to-assume: arn:aws:iam::830482727482:role/github-workflow-java-almanac
        aws-region: eu-central-1
    - name: Upload Rendered Content
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        aws s3 sync .hugo/public s3://javaalmanac.io/ --delete --no-progress
        aws cloudfront create-invalidation --distribution-id ECI1PGYSTNAWG --paths "/*"
    - name: Upload Content for Indexing
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        (cd content && zip -r ../content.zip .)
        aws s3 cp content.zip s3://archive.javaalmanac.io/javaalmanac/ --no-progress

  publish-data:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Configure AWS Credentials
      if: ${{ github.ref == 'refs/heads/master' }}
      uses: aws-actions/configure-aws-credentials@v4.1.0
      with:
        role-to-assume: arn:aws:iam::830482727482:role/github-workflow-java-almanac
        aws-region: eu-central-1
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21
    - name: Build and Run with Maven
      working-directory: '.apigenerator'
      run: |
        mvn -B clean compile exec:java --no-transfer-progress
      env:
        BUCKET: ${{ github.ref == 'refs/heads/master' && 'data.javaalmanac.io' || '' }} 
        DISTRIBUTION: E3T9OALYN4XMEX
